section#list-villes {
    margin-top: 15em;
}
.container {
    background-color: white;
    color: black;
}
section#list-villes img {
    width: 50rem;
    height: 12rem;
}
    a {
    text-align: center;
    padding: 2%;
    color: green;
}
    h1 {
    color: green;
}
h2 {
    color: green;
}