   
h1 {
    color: green;
    text-align: center;
    }
h2 {
    color: green;
    text-align: center;
}
.row{
    justify-content: center;
   
}
    .row img{
    width: 18vw;
    height: 40vw;
    }
    
    footer {
        width: 100%;
            }