//variables couleurs//

$yellow: rgb(208, 255, 0);
$lightYyellow: #ff4;
$darkGrey: #222;
$lightGrey: #444;
$silver: #eee;
$light: #fff;

//variables fonts
$grandHotel: "Grand Hotel", serif;
$openSans: "Open Sans", helvetica, arial, sans-serif;

/*++++++++++++++header++++++++++++*/

header
{
    background-color: $darkGrey;
    padding-left: 2%;
    padding-bottom: 5%;
    h1{
        color: $yellow;
        font-family: $grandHotel;
        margin: 0;
        text-align: center;
        }
}

p
{
    color: $light;
    font-family: $openSans;
    text-align: center;
}

//alignement d'un block au centre du block parent// 

#search 
{
    display: block;
    margin: 0 auto;
    
}


nav 
{
    background-color: $darkGrey;
    
        ul 
        {
          list-style-type: none;
          padding: 0;
          margin: 0;
         li 
         {
           width: 50%;
           margin: 0 auto;
          text-align: center;
          padding-bottom: 2%;
          margin-bottom: 2%;
           text-align: center;
           border-bottom:  $yellow 2px solid;

       // pour ne pas appliquer au dernier enfant 'ex ici: pas de barre dessous//

        &:last-child 
        {
          border-bottom: 0;
         
        }

        a 
        {
         text-decoration: none;
         color: $light;
         font-family: $openSans;
        }
        }
    }
}
  
aside 
{
    background-color: $darkGrey;
    .copyright {
      color: $yellow;
      font-family: $grandHotel;
      margin-bottom: 0;
      visibility: hidden;
}
}

  //section limonade
  
    .limonade {
    background-image: url(../images/bg-presentation.jpg);
    background-color: #000;
    color: $light;
  
    h1 {
      font-family: $grandHotel;
      text-align: center;
      margin: 0;
    }
    p {
      font-family: $openSans;
    }
    }
  
    .limonade {
    blockquote {
      .quote {
        font-family: $openSans;
      }
      .mag {
        font-family: $grandHotel;
      }
    }
  }
  
  //section produits
  
    .produits {
    background-color: $silver;
    h1 {
      font-family: $grandHotel;
      color: $darkGrey;
      text-align: center;
    }
  }
  
    .cards {
    img {
      border: 1px solid $lightGrey;
      padding: 1px;
      display: block;
      margin: 0 auto;
    }
  }
  
    .cards {
    figcaption {
      h2 {
        font-family: $grandHotel;
        color: $darkGrey;
        text-align: center;
      }
      p {
        color: $darkGrey;
        font-family: $openSans;
      }
    }
  }
  
    .produits {
    .more {
      text-decoration: none;
      background-color: $darkGrey;
      color: $light;
      padding: 0 10%;
      font-family: $grandHotel;
    }
  }
  
  //production
  
    .production {
    background-image: url(../images/bg-productionb.jpg);
    h1 {
      margin-top: 0;
        font-family: $grandHotel;
        text-align: center;
        margin: 0;
    }
      p {
        font-family: $openSans;
      }

    }
  
    .client{
    background-color: $light;
    h1 {
      margin-top: 0;
        font-family: $grandHotel;
        text-align: center;
        margin: 0;
      }
      p {
        font-family: $openSans;
      }


    .more {
        text-decoration: none;
        background-color: $darkGrey;
        color: $light;
        padding: 0 10%;
        font-family: $grandHotel;
      }


    }
      
    .contact{
       background-image: url(../images/bg-contact.jpg);
       background-size: cover;
       color: $light;
       padding: 2%;
        h1{
        font-family: $grandHotel;
        text-align: center;
        }
        p{
        font-family: $openSans;
        }
    }


    

      

